*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

ul {
    list-style-type: none;
}

:root {
    --main: #1992d4;
    --light: #ffffff;
    --accent: #f0b429;
    --dark: #000000;
    --background: #e2e8f0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid: min-content 1fr / 200px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.header {
    grid-area: header;
    background-color: var(--light);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--main);
    color: var(--light);
    display: grid;
    grid-template-rows: min-content 1fr 2fr;
    align-content: center;
}

.sidebar > div {
    padding: 10px 20px;
}

.branding {
    font-size: 1.2rem;
}

.main {
    grid-area: main;
    background-color: var(--background);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px 40px;
}

.header-section {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.search-bar,
.user {
    display: flex;
    gap: 10px;
}

.welcome,
.search-bar,
input[type="search"] {
    flex: 1;
}